.dropdown-toggle::after {
    display:none;
}

.circleimage{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.indicator {
    content: '';
    position: absolute;
    top: 16px;
    right: 23px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background-color: #ef172c;
    animation: .9s infinite beatHeart;
    transform-origin: center;
}
