<router-outlet></router-outlet>
<!--nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">DocketRun</a>
    
    <div [ngbCollapse]="true" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="id01" ngbDropdownToggle>Menu</a>
          <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
            <a class="dropdown-item" href="/app/comparing-week">Weekly Analysis</a>
            <a class="dropdown-item" href="/app/comparing-month">Monthly Analysis</a>
            <a class="dropdown-item" href="/app/comparing-year">Yearly Analysis</a>
            <a class="dropdown-item" href="/app/interval">Interval Analysis</a>
            <a class="dropdown-item" href="/app/quarterly">Quarterly Data Analysis</a>
            <a class="dropdown-item" href="/app/yearly">Yearly Data Analysis</a>
          </div>
        </li>
      </ul>
    </div>
  </nav-->

