<!-- 
<div class="dashboard-main-wrapper">
    <div id="leftsidebar">
        <div id="navbar">
            <div class="dashboard-header">
                <nav class="navbar navbar-expand-lg bg-white fixed-top"> -->
 
                    <div style="overflow-x: hidden;">
                        <div>
                        <header style="height: 60px;">
                           
                                <app-header></app-header>
                        </header>
                    </div>
                       <main>
                            <div class="row">
                               
                                <app-menubar></app-menubar>
                                <div class="dashboard-wrapper" style="width:100%">
                                    <router-outlet></router-outlet>
                                </div>
                            
                            </div>
                        </main>
                        
                     
                        
                        <div class="">
                            <nav class=" bg-white fixed-bottom">
                                <app-footer></app-footer>
                            </nav>
                        </div>
                    </div>